<?xml version="1.0" encoding="Windows-1252"?>
<Settings xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <moveTool>
    <Ruler>true</Ruler>
    <Label>true</Label>
    <ColorX>
      <r>0.432958573</r>
      <g>1</g>
      <b>0.161764741</b>
      <a>1</a>
    </ColorX>
    <ColorY>
      <r>1</r>
      <g>0.147058845</g>
      <b>0.147058845</b>
      <a>1</a>
    </ColorY>
    <ColorZ>
      <r>0.014705658</r>
      <g>0</g>
      <b>1</b>
      <a>1</a>
    </ColorZ>
  </moveTool>
  <rotateTool>
    <Ruler>true</Ruler>
    <Label>true</Label>
    <ColorX>
      <r>0</r>
      <g>0.07352925</g>
      <b>1</b>
      <a>1</a>
    </ColorX>
    <ColorY>
      <r>1</r>
      <g>0.272058845</g>
      <b>0.272058845</b>
      <a>1</a>
    </ColorY>
    <ColorZ>
      <r>0.5808824</r>
      <g>1</g>
      <b>0.6116999</b>
      <a>1</a>
    </ColorZ>
  </rotateTool>
  <scaleTool>
    <Ruler>true</Ruler>
    <Label>true</Label>
    <ColorX>
      <r>1</r>
      <g>0</g>
      <b>0</b>
      <a>1</a>
    </ColorX>
    <ColorY>
      <r>1</r>
      <g>0</g>
      <b>0</b>
      <a>1</a>
    </ColorY>
    <ColorZ>
      <r>1</r>
      <g>0</g>
      <b>0</b>
      <a>1</a>
    </ColorZ>
  </scaleTool>
</Settings>